@import "Utils/mixins.scss";
@import "Utils/variables.scss";

:root {
	font-size: 62.5%;
}



.element-logo,
.choix,
.composer,
.deguster {
	@include struct_row;
}


.logo_map_marker,
.logo_fonctionnement,
.element-logo img {
	@include icon_resize;
}


.location {
	background: $color-location;
}

.location, .presentation>h1,  .presentation>h2, .btn{
	@include struct_row_center;
}

#logo-footer {
	width: 9rem;
	height: 4rem;
}

.photo_resto {
	max-width: 100%;
	height: auto;
}

.restaurants {
	background: $color-btn;
}

footer {
	padding: 2rem 0 4rem 2rem;
	background: $color-footer;
	color: $initial-color;
}