@import "Utils/mixins.scss";
@import "Utils/variables.scss";
@import "Utils/media_queries.scss";


@font-face {
	font-family: Roboto;
	src: url('fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Shrikhand;
	src: url('fonts/Shrikhand-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

:root {
	font-size: 62.5%;
}

* {
	overflow-x: hidden;
}

body {
	font-family: Roboto;
}

.title,
header,
#button_explore.button,
.images_icone_nouveau,
.icone_like,
.presentation,
.titre_element,
.entree_element,
.plats_element,
.desserts_element {
	position: relative;
}



.title {
	width: auto;
}

header,
.presentation {
	@include div-center;
	flex-direction: column;
	padding-top: 1rem;
	width: auto;
}

// spinner DEBUT

.loader {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 3px solid $color-tertiary;
	border-radius: 50%;
	border-top-color: $color-secondary;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
	position: absolute;
	background-color: $color-primary;
	z-index: 1;
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
		display: none;
	}
}

.container {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: $color-location;
	z-index: 1;
	@include div-center;
	flex-direction: column;
	animation: contain 2s cubic-bezier(1, 0, 1, 1) forwards;
}


@keyframes contain {
	0% {
		opacity: 1;
		top: 0;
		left: 0;
	}

	90% {
		opacity: 1;
		top: 0;
		left: 0;

	}

	100% {
		opacity: 0;
		display: none;
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}


// spinner FIN

#logo_omyfood_header {
	width: 30rem;
	height: 3.25rem;
	align-self: center;
	padding-bottom: 1rem;
}

.presentation>h1,
.fonctionnement>h2 {
	font-size: 2rem;
	font-weight: bold;
}

#sous_titre_decouvrez {
	font-size: 1.6rem;
	font-weight: 100;
}

.presentation>h2,
.location>h1 {
	font-size: $font-small;
	font-weight: lighter;
}

.choix,
.composer,
.deguster,
.element-logo {
	@include struct_row;
}

.element-logo {
	& h2 {
		margin-left: 1rem;
	}
}


#button_explore,
.button_commander {
	height: 40px !important;
	overflow: hidden;
	font-size: $font-average;
	font-weight: bold;
	color: $initial-color;
	padding: .9rem 1.5rem .9rem 1.5rem;
	border: none;
	background: none;
	background-image: linear-gradient($color-secondary, $color-primary);
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	height: 100%;
	overflow: hidden;
	text-decoration: none;
	transition: transform 50ms ease-in-out;
	box-shadow: grey 5px 5px 10px;
	max-width: 70vw;

	&:hover {
		text-decoration: none;
		color: $initial-color;
		transform: scaleX(1.11) scaleY(.99);
		box-shadow: grey 5px 5px 20px;
	}

	& a {
		text-decoration: none;
		color: $initial-color;

		&:visited {
			text-decoration: none;
			color: $initial-color;

		}
	}

}

.fonctionnement {
	@include struct-col-space;
	@include padding_left_right;
	align-items: flex-start;
}

.choix,
.composer,
.deguster {
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: $color-btn;
	border: none;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;

	&:hover {
		background-color: lighten($color-primary, 30%);
	}
}

.choix,
.composer,
.deguster {
	justify-content: flex-start;
}

.logo_fonctionnement {
	margin-right: 2rem;
	margin-left: 2rem;
}

.icon_number,
.nouveau {
	@include div-center;
	position: absolute;
}

.icon_number {
	background-color: $color-primary;
	width: 2rem;
	height: 2rem;
	border-radius: 20px;
	overflow: hidden;
	color: #fff;
	left: 18px;
}

.title_resto {
	@include div-center;

	& a img {
		width: 3rem;
		height: 3rem;
	}

	padding-bottom: 1rem;
}

.nouveau {
	background-color: $color-tertiary;
	color: $color-nouveau-icone;
	width: 8rem;
	height: 3rem;
	position: absolute;
	overflow: hidden;
	border-radius: 4px;
	right: 1rem;
	top: 1rem;

	& p {
		font-size: 1.4rem;
		font-weight: 800;
	}
}

.logo_map_marker,
.logo_fonctionnement,
.element-logo img {
	@include icon_resize;
}

#button_explore.button a {
	text-decoration: none;
	color: $initial-color;
	font-size: 1.5rem;
	font-weight: 600;
}

.location {
	box-shadow: inset 0 9px 3px -7px silver;
	background: $color-location;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	& h1 {
		font-size: $font-average;
		margin-left: 1rem;
	}
}

.title,
.location,
.presentation>h1,
.presentation>h2,
#button_explore {
	@include struct_row_center;
}

.fonctionnement,
.presentation {
	@include padding_top_bottom;
}

#logo-footer {
	width: 9rem;
	height: 4rem;
}

.photo_resto {
	width: 100%;
	max-height: 18rem;
	height: auto;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
	object-position: 50% 50%;
}

.palette {
	margin: auto !important;
}

.titre_lieu {

	& h2 {
		font-weight: 600;
		font-size: 1.9rem;
		margin-bottom: 0.5rem !important;
	}

	& h3 {
		font-weight: 100;
		font-size: 1.5rem;
		margin-top: 0.5rem !important;

	}

	& a {
		color: black;
		text-decoration: none;

		& :visited {
			text-decoration: none;
		}
	}
}

.main_titre_menu {
	margin-top: 0 !important;
	margin-left: 1rem !important;
	margin-right: 1rem !important;

}

.palette,
.note {
	margin-right: 1rem;
}

.main_titre_menu {
	background-color: $color-btn !important;

	& h2 {
		font-family: Shrikhand;
		font-size: 3rem;
	}
}

.carte_resto {
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
	border-radius: 20px 20px 20px 20px;

}

.carte_menu {
	box-shadow: none;

}

.button_commander {
	margin-top: 3rem;
	margin-bottom: 4rem;
	max-width: 50vw;

	& a {
		font-size: 1.4rem !important;
		font-weight: 600 !important;
	}
}

// affichage des icones nouveaux ou non

#nouveau_1,
#nouveau_2 {
	opacity: 1;
}

#nouveau_3,
#nouveau_4 {
	opacity: 0;
}

.titre_icone {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: $initial-color;
	border-radius: 20px 20px 20px 20px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.icone_like {

	& .heart_regular {
		position: absolute;
		opacity: 1;
		transition: opacity 150ms;
	}

	& .heart_filled {
		opacity: 0;
	}

	&:hover {

		& .heart_regular {
			opacity: 0;
		}

		& .heart_filled {
			opacity: 1;
		}
	}
}

.heart_regular,
.heart_filled {
	@include icon_resize_heart;
}


// nouveau coeur DEBUT

.icon {

	width: 3rem;
	height: 3rem;
	overflow-y: hidden;

	&.heart {

		& path {
			stroke-dasharray: 1560;
			stroke-dashoffset: 0;
		}

		&:hover {

			& path {
				animation: animate-heart 1s ease-in-out both;
			}
		}
	}

	& path {
		fill: transparent;
		stroke-width: 10;
		stroke: black;
	}
}


@keyframes animate-heart {
	0% {
		stroke-dashoffset: 0;
		fill: transparent;
		opacity: 0;
	}

	100% {
		opacity: 1;
		stroke-dashoffset: 1560;
		fill: url(#grad2);
	}

}

// nouveau coeur FIN


.restaurants,
.presentation {
	background: $color-btn;
	@include padding_left_right;
}

#restaurants {
	padding-bottom: 5rem;
}

footer {
	padding: 2rem 0 4rem 2rem;
	background: $color-footer;
	color: $initial-color;
	@include struct-col-space;
	align-items: flex-start;

	& h1 {
		font-size: 1.5rem !important;
	}
}

.lien_contact {
	text-decoration: none !important;
	color: $initial-color !important;

	&:visited {
		text-decoration: none !important;
		color: $initial-color !important;

	}
}

// Menu 1, 2, 3, 4 DEBUT

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo_resto_menu {
	width: 100%;
	max-height: 18rem;
	height: auto;
	object-fit: cover;
	object-position: 50% 50%;
}

.resto_menu {
	font-family: Shrikhand;
	font-size: 2.9rem !important;
	font-weight: 300 !important;
}

hr {
	display: block;
	height: 1px;
	width: 40px;
	border: 0;
	border-top: 3px solid $color-tertiary;
	margin: 0;
	padding: 0;
}

.menu {
	background-color: $color-btn;
}

.button {
	overflow-y: hidden;
}

.prix_element {
	padding: 1rem;
	overflow: hidden;
	margin-left: auto;
}


// #entrees {
// 	margin-left: 1rem !important;
// 	margin-right: 1rem !important;
// }

.categories_food {
	width: auto;
	padding: 1rem;
	margin: 1rem;
}

// #desserts {
// 	margin-left: 1rem !important;
// 	margin-right: 1rem !important;
// }


.entrees,
.plats,
.desserts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem;
	background-color: $color-btn;
	overflow-y: hidden;
	padding-right: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;


	& h3 {
		font-size: 1.5rem !important;
		font-weight: 100 !important;
		margin-bottom: 0.5rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: auto;
	}

	& hr {
		margin-bottom: 1rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: auto;
	}
}

// section animation verte pour choix menu DEBUT

.fa-check-circle {
	color: $initial-color;
}

.green {
	background-color: $color-tertiary;
	height: 100%;
	@include div-center;
	// z-index: 0;
	width: 0px;
	// content: "";
	// display: none;
	transition: width 600ms ease-in-out;
	z-index: 1;
}

// .green {
// 	margin: 0;
// 	padding: 0;
// 	width: 7rem;
// 	height: 100%;
// 	background-color: $color-tertiary;
// 	border-radius: 0 15px 15px 0;
// 	margin-right: 0;
// 	z-index: -1;
// 	opacity: 0;
// 	position: absolute;
// 	@include div-center;
// }

// .logo_check {
// 	@include icon_resize_heart;
// 	animation: icon_rotation 1.5s 2s ease-in-out;
// }

// @keyframes icon_rotation {
// 	0% {
// 		transform: rotate(90deg);
// 	}



// 	100% {

// 		transform: rotate(360deg);
// 	}
// }

.fa-check-circle {
	rotate: -90deg;
	transition: rotate 700ms ease-in-out;
}

.entree_element,
.plats_element,
.desserts_element {
	border-radius: 15px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: none;
	background-color: $initial-color;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
	margin-bottom: 1.5rem;
	padding-left: 1rem;
	z-index: 1;
	text-overflow: ellipsis;


	&:hover {
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		// text-overflow: ellipsis;

		&>.green {
			outline: none;
			width: 8rem;

			&>.fa-check-circle {
				rotate: 360deg;
			}
		}
	}


}

// @keyframes selection_plat_in {
// 	0% {
// 		transform-origin: center right;
// 		transform: translateX(15rem);
// 		z-index: -1;
// 		position: relative;
// 		opacity: 0;

// 	}

// 	100% {

// 		transform: translateX(0px);
// 		z-index: 2;
// 		position: relative;
// 		opacity: 1;
// 	}
// }

// section animation verte pour choix menu FIN

.element_1 {
	animation: appear 1000ms 200ms ease-in-out backwards;
}

.element_2 {
	animation: appear 1000ms 300ms ease-in-out backwards;
}

.element_3 {
	animation: appear 1000ms 500ms ease-in-out backwards;
}

.element_4 {
	animation: appear 1000ms 700ms ease-in-out backwards;
}


@keyframes appear {
	0% {
		transform: translateY(3rem);
		opacity: 0;
	}


	100% {
		transform: translateY(0);
		opacity: 1;
	}
}



.titre_element {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	& h2 {
		margin-top: 0.5rem;
		margin-bottom: 0;
		font-size: 1.6rem;
		font-weight: 600;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	& h3 {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}



// Menu 1, 2, 3, 4 FIN


// MENU NOUVEAU DEBUT

.content {
	display: none !important;
}

// .contenu {
// 	display: none;
// }

.contenu>* {
	@include reset_pad_marg;
}

.contenu {
	// border: 1px solid red;
	width: 100%;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

	// align-self: center;
	& img {
		padding: 0;
		margin: 0;
		height: 25rem;
		width: 100%;
		position: relative;
		object-fit: cover;
		object-position: 50% 50%;
		// top: 4.5rem;

	}
}

.menu_fond_gris {
	z-index: 1;
	background-color: $color-location;
	// border: 1px solid red;
	border-radius: 30px 30px 0 0;
	height: 100%;
	width: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	@include struct-col-space;
	justify-content: space-between;
	// bottom: 4.5rem;
}

.conteneur_titre_coeur {

	@include reset_pad_marg;
	@include struct_row_center;
	justify-content: space-evenly;
	margin-top: 3rem;
	// height: 6rem;

}

// .fa-heart {
// 	// color: blue;
// 	content: "";

// 	// background-color: aqua;
// 	// background-clip: padding-box;
// 	&:hover {
// 		// animation: heart_fill 1000ms ease-in-out both;
// 		// background-clip: padding-box;
// 	}
// }

.premier_coeur {
	opacity: 1;
	z-index: 1;
	stroke: 1px;
}

.deuxieme_coeur {
	display: none;
	z-index: 0;
}

.conteneur_coeur {
	animation: all 10ms ease-in-out;

	&:hover {
		&>.premier_coeur {
			display: none;
		}

		&>.deuxieme_coeur {
			// opacity: 1;
			display: block;
			color: transparent;
			animation: heart_fill 800ms ease-in-out forwards;

		}
	}
}

@keyframes heart_fill {
	0% {
		// color: transparent;
		// stroke: black;
		// color: transparent;
		// border: 1px solid black;
		// background: white;
		background: -webkit-linear-gradient(#9d70d4, #f598da);
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		// stroke: black;
	}


	100% {
		// color: red;
		// background-color: violet;
		// color: red;
		background: -webkit-linear-gradient($color-primary, $color-secondary);
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		// color: linear-gradient(#9356DC, #FF79DA);
		// stroke: red;
		// fill: red;
		// -webkit-text-stroke-width: 1px;
		// -webkit-text-stroke-color: green;
		// background-clip: padding-box;
		// stroke: transparent;
	}

}


.titre_principal_menu {
	@include reset_pad_marg;
	font-family: Shrikhand;
	font-size: $font-title;
}

.titre_e_p_d {
	@include reset_pad_marg;
	align-self: flex-start;
	font-size: 1.6rem;
	font-weight: 100;
	// border: 1px solid red;
	margin-bottom: .5rem;

}

.conteneur_titre_ligne_verte {
	@include struct-col-space;
	// border: 1px solid green;
	align-self: flex-start;
	justify-content: space-between;
}

.button_commander {
	border-radius: 30px;
}

.bouton_rose_menu {
	width: 50vw !important;
	border-radius: 30px !important;
}

.ligne_verte {
	align-self: start;
	// border: 1px solid red;
	position: relative;
}

/* INTERIEUR DU MENU DEBUT */


.conteneur_E_P_D {
	cursor: pointer;
	@include struct-col-space;
	// border: 1px solid red;
	width: 100%;
	// padding: 0 1rem 0 1rem;
	// margin: 0 1rem 0 1rem;
	margin: 1rem;
	overflow-x: visible;

}

.conteneur_E_P_D_niveau_1 {
	@include struct_row_center;
	text-align: left;
	justify-content: space-between;
	// border: 1px solid green;
	width: 100%;
	border-radius: 1.5rem;
	background-color: $initial-color;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	// margin: 1rem 1rem 1rem 1rem;
	margin: 0 1rem 0 1rem;


}

.conteneur_titre_et_description {
	// border: 1px solid fuchsia;
	padding: 1rem 1rem 1rem 1rem;
	white-space: nowrap;
	text-overflow: ellipsis;

}




.titre_food,
.description {
	@include reset_pad_marg;

}

.titre_food {
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.5rem;
	// font-size: 0.5rem;
	font-weight: 600;
}

.description {
	text-overflow: ellipsis;
	font-size: 1.3rem;
	// font-size: 0.5rem;
	font-weight: 100;
}

.conteneur_prix {
	// border: 1px solid aqua;
	@include reset_pad_marg;
	padding: 1rem 2rem 0.5rem 1rem;
	align-self: flex-end;
	// position: absolute;
	position: relative;
	right: 0;
	padding-right: 0;
	z-index: 2;
	margin-left: auto;

	& h2 {
		@include reset_pad_marg;
		padding-right: 1rem;

	}
}


/* INTERIEUR DU MENU DEBUT */

// PARTIE ANIMATION VERTE DU MENU DEBUT

.conteneur_E_P_D_niveau_1 {
	border-radius: 15px;
	width: 100%;
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	// align-items: center;
	// border: none;
	background-color: $initial-color;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
	// margin-bottom: 1.5rem;
	padding-left: 1rem;
	z-index: 1;
	text-overflow: ellipsis;


	&:hover {
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		// text-overflow: ellipsis;

		&>.green {
			outline: none;
			width: 6rem;

			&>.fa-check-circle {
				rotate: 360deg;
			}
		}

		&>.conteneur_prix {
			// right: 8rem;
			transition-delay: 1s;
			transition-timing-function: ease-in-out;
			
		}
	}


}

// PARTIE ANIMATION VERTE DU MENU FIN

// MENU NOUVEAU FIN


// media queries

@include media_desktop();