@import "mixins.scss";
@import "variables.scss";

// Using a variable
// @include media-min($sm) {
//     body {color:red}
// }

// Custom value
// @include media-min(300px) {
//     body {color:blue}
// }

// @include media-min($md) {
//     body {color:blue}
// }

@mixin media_desktop {
    @include media-min($lg) {
        .button_commander {
            max-width: 30rem !important;
        }

        footer {
            flex-direction: row;
        }

        .carte_resto,
        .button,
        #button_explore {
            max-width: 30vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@mixin media_tablet {
    @include media-both($xs, $lg) {
        #restaurants {
            padding-bottom: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            & .carte_resto {
                margin-left: 1rem !important;
                margin-right: 1rem !important;

            }

            & h2 {
                margin-right: 1rem !important;
                padding-right: 2rem !important;
            }
        }

        .titre_accueil_restaurants {
            padding: 1rem;
            margin: 1rem;
        }
    }
}