@mixin struct_row {
    display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

@mixin icon_resize {
    width: 1.5rem;
	height: 1.5rem;
}

@mixin struct_row_center {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}


@mixin padding_left_right {
	padding-left: 2rem;
	padding-right: 2rem;
}

@mixin padding_top_bottom {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
